*, *::before, *::after{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
  }
  
  :root{
    --primary-hue:210;
    --gray-hue:0;
    --color-primary:hsl(var(--primary-hue), 100%, 50%);
    --color-primary-variant:hsl(var(--primary-hue), 100%, 65%);
    --color-secondary:#008080;
    --color-gray-100:hsl(var(--gray-hue), 0%, 20%); /*#333333*/
    --color-gray-200:hsl(var(--gray-hue), 0%, 100%);
    --color-gray-300:hsl(var(--gray-hue), 0%, 62%); /*#9d9d9d*/
    --color-gray-400:hsl(var(--gray-hue), 16%, 41%);
    --color-gray-500:hsl(var(--gray-hue), 0%, 95%); /*f1f1f1*/
    --color-gray-600:hsl(var(--gray-hue), 0%, 100%); /*#ffffff*/
  
    --container-width-lg:80%;
    --container-width-md:90%;
  
    --transition: all 500ms ease;
  
  }

body {
        font-family: 'Montserrat', sans-serif;
        color: var(--color-gray-100);;
        line-height: 1.7;
        /* overflow: hidden; */
        background: var(--color-gray-500);
        height: 100vh;
}
h1,h2,h3,h4,h5{
    list-style: 1.2;
    color: var(--color-gray-100);
  }
  
  h1{
    font-size: 3rem;
  }
  
  h2{
    font-size: 2rem;
  }
  a{
    color: var(--color-gray-100);
  }
  
  img{
    display: block;
    object-fit: cover;
    width: 100%;
  } 
  .main__top{
    background-color: #ffffff;
    border-radius: 5px;
    padding: 1rem;
  }
  .main__bottom{
    background-color: #ffffff;
    border-radius: 5px;
    padding: 2rem;
    margin-top: 1rem;
  }
  .navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #ffffff;
    border: none;
  }
  .navbar:hover{
    color: var(--color-secondary);
  }
  .navbar-inverse .navbar-nav>li>a:hover{
    color: #008080;
  }
  .navbar-inverse .navbar-nav>li>a {
    color: var(--color-gray-100);;
  }
.navbar-inverse .navbar-brand {
    color: var(--color-gray-100);
}
.navbar-inverse .navbar-header>a:hover {
  color: var(--color-secondary);;
}
.header__container{
    width: var( --container-width-lg);
    margin: 0 auto;
    color: var(--color-gray-100);
}
.container-fluid{
  height: 100%;
}
.content_{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pagination__main{
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination__list>li{
  display:inline-block;
  margin: 0rem 1rem;
}
.pagination__list > li a{
  /* padding: 0rem 2rem; */
  text-decoration: none;
}
.table-main{
  height: 100%;
  padding-bottom: 7rem;
  overflow-x:unset;
}
.pagination__icon{
  font-size: medium;
  font-weight: 700;
}

.pagination__menu{
  background-color: transparent;
}
.pagination__button-main{
  background-color: #ddd;
  border: none;
  color: var(--color-gray-100);
}
.pagination__text{
  font-size: medium; font-weight: 500;
}

.pagination__text-icon{
  font-weight:100;
  font-size: 2rem;
}
.pagination__main .dropdown>a:hover {
  background-color: var(--color-secondary);
}
.pagination__main .dropdown>a:active {
  background-color: var(--color-secondary);
}
.table-main .dropdown__button{
  background-color: #ddd;
  border: none;
  color: var(--color-gray-100);
}
.table-main .dropdown__button:hover{
  background-color: var(--color-secondary);
  color: #ffffff;
}
.table-main .dropdown__button::selection{
  background-color: var(--color-secondary);
  color: #ffffff;
}
.bulk__action-button{
  background-color: #ddd;
  border: none;
  color: var(--color-gray-100);
}
.bulk__action-button:hover{
  background-color: var(--color-secondary);
  color: #ffffff;
}
.bulk__action-button:active{
  background-color: var(--color-secondary);
  color: #ffffff;
}

