
/* Style the main content to be centered with 80% width */
main {
    margin: 0 auto; /* Center the content */
    /* width: 80%; */
    /* padding: 20px; */
    /* background-color: gray; */
    margin-top: 2dvh;
    margin-bottom: 2dvh;

}
.subHeader {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    margin-bottom: 2dvh;
}
.dynamicIcons{
    display: flex; 
    flex-direction: row; 
    justify-content:space-around;
    align-content: space-around;
    
}
.actionButtons{
    display: flex; 
    flex-direction: row; 
    justify-content:space-around;
    align-content: space-around;
}
.acceptIcon{
    padding-right: 1em;
}
.rejectIcon{
    padding-right: 1em;
}
.downloadIconStyle{
    color: blue;
    font-size: xx-large;
    border-radius: 30px;
}
.downloadIconStyle:hover {
    color: blue;
    font-size: xx-large;
    background-color: white;
}
.acceptIconStyle{
    color: green;   /* Set the icon color */
    font-size: xx-large;
    border-radius: 30px;
    
}
.acceptIconStyle:hover{
    color: green;   /* Set the icon color */
    font-size: xx-large;
    background-color: white;
}
.rejectIconStyle{
    color: red;     /* Set the icon color */
    font-size: xx-large;
    border-radius: 30px;
}
.rejectIconStyle:hover{
    color: red;     /* Set the icon color */
    font-size: xx-large;
    background-color: white;
    border-radius: 30px;
}
.filterButton{
    padding-left: 1em;
    margin-top: 0.6em;
}

.custom-button {
    /* Apply your custom button styles here */
    border: none; /* Remove the default button border */
    color: white; /* Text color */
    padding: 10px 30px; /* Adjust padding as needed */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Change cursor on hover */
    background-color: #007bff; /* Custom background color */
}
.custom-btn {
    background-color: #007bff; /* Custom background color */
    color: #fff; /* Custom text color */
    padding: 13px 30px; /* Adjust padding as needed */
    border: none; /* Remove the default button border */
    cursor: pointer; /* Change cursor on hover */
    border-radius: 5px; /* Rounded corners */
}

.custom-btn:hover {
    background-color: #0056b3; /* Custom background color on hover */
}

.custom-dropdown-item {
    color: #333; /* Custom text color for dropdown items */
    padding: 5px 10px; /* Custom padding for dropdown items */
    text-decoration: none; /* Remove default text decoration */
}

.custom-dropdown-item:hover {
    background-color:aliceblue; /* Custom background color on hover */
    border-radius: 5px; /* Add border-radius on hover */
    /* padding: 10px 15px;  */
    color:#333;
    text-decoration: none; /* Keep the text unaltered on hover */
}


/* Style the footer to span the full width */
footer {
    /* background-color: #333;
    color: white;
    padding: 10px;
    width: 100%; */
}
.sub-header{
    /* background-color: blue; */
    margin-bottom: 2em;
}
.content{
    /* background-color: crimson; */
}
.pagination{
    margin-top: 2em;
    /* margin-bottom: 2em; */
}
.accept-icon .fas {
    
}

/* Define a class for the reject icon */
.reject-icon .fas {
   
}
.action-icon-accept{
    color: green;   /* Set the icon color */
    font-size: xx-large;
    border-radius: 30px;
    align-content: center;
}
.action-icon-reject{
    color: red;     /* Set the icon color */
    font-size: xx-large;
    border-radius: 30px;
    align-content: center;
}
.action-icon-accept:hover{
    color: green;   /* Set the icon color */
    font-size: xx-large;
    background-color: white;
}
.action-icon-reject:hover{
    color: red;     /* Set the icon color */
    font-size: xx-large;
    background-color: white;
    border-radius: 30px;
}
.icons .fas{
    font-size: xx-large;
}
tr:hover{
    background-color:aliceblue;
}
/* Hide the icons by default */
.accept-icon .fas,
.reject-icon .fas {
    display: none;
}

/* Show the icons when hovering over the table row */
tr.accept-icon:hover .accept-icon .fas,
tr.reject-icon:hover .reject-icon .fas {
    display: inline-block;
}

/* Exclude custom-link from the icon styling */
.custom-link .fas {
    display: inline-block !important; 
}

.menu-container {
    position:absolute;
    /* display: inline-block; */
}

.menu {
    display: none;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 25;
    list-style: none;
    padding: 10px 10px;
    text-decoration: none;
    margin-top: -25px;
    margin-left: 10px;
} 

.menu li { 
    /* padding: 5px 10px; */
     text-decoration: none;
} 

.menu li a {
    text-decoration: none; 
    color: #333; 
}

.menu li:hover {
    background-color: #f0f0f0;
    cursor: pointer;
} 

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    width: 100%;
}
